## Data Cleaning before Merge

In [2]:
import pandas as pd
import numpy as np

#Load datasets
customers = pd.read_csv("../data/olist_customers_dataset.csv")
order_items = pd.read_csv("../data/olist_order_items_dataset.csv")
products = pd.read_csv( "../data/olist_products_dataset.csv")
orders = pd.read_csv("../data/olist_orders_dataset.csv")

In [3]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [4]:
customers.drop_duplicates(subset=["customer_id"])
customers.dropna()
customers.shape

(99441, 5)

In [5]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [13]:
order_items.drop_duplicates(subset=["order_item_id"])
order_items.dropna()
order_items.shape

(112650, 7)

In [7]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [11]:
products.drop_duplicates(subset=["product_id"])
products.dropna()
products.shape

(32951, 9)

In [9]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [12]:
orders.drop_duplicates(subset=["order_id"])
orders.dropna()
orders.shape

(99441, 8)

## Merge into One Dataframe

In [15]:
orders = pd.merge(orders, customers[["customer_id", "customer_unique_id"]], 
                  on="customer_id", how="left")

combined = pd.merge(order_items, 
                    orders[["order_id", "customer_id", "order_purchase_timestamp"]],
                    on="order_id", how="left")

combined = pd.merge(combined, products, on="product_id", how="left")

combined.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_purchase_timestamp,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,2017-09-13 08:59:02,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,2017-04-26 10:53:06,pet_shop,56.0,239.0,2.0,30000.0,50.0,30.0,40.0
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,2018-01-14 14:33:31,moveis_decoracao,59.0,695.0,2.0,3050.0,33.0,13.0,33.0
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,2018-08-08 10:00:35,perfumaria,42.0,480.0,1.0,200.0,16.0,10.0,15.0
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,2017-02-04 13:57:51,ferramentas_jardim,59.0,409.0,1.0,3750.0,35.0,40.0,30.0

### Check for Data Quality before Analysis

In [16]:
print("Missing values after merging:")
print(combined.isna().sum())

print("Duplicate rows:", combined.duplicated().sum())

Missing values after merging:
order_id                         0
order_item_id                    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
customer_id                      0
order_purchase_timestamp         0
product_category_name         1603
product_name_lenght           1603
product_description_lenght    1603
product_photos_qty            1603
product_weight_g                18
product_length_cm               18
product_height_cm               18
product_width_cm                18
dtype: int64
Duplicate rows: 0

#### For the columns that contain missing values, we are able to drop the columns because those columns will not be used for our RFM analysis

In [17]:
combined = combined.drop(columns=['product_category_name', 'product_name_lenght',
                                            'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm'])

In [18]:
combined.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_purchase_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,2017-09-13 08:59:02
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,2017-04-26 10:53:06
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,2018-01-14 14:33:31
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,2018-08-08 10:00:35
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,2017-02-04 13:57:51

In [20]:
combined.to_csv("combined_cleaned.csv", index=False)

## Feature Engineer for RFM metrics

In [ ]:
# Convert order timestamps to datetime
combined['order_purchase_timestamp'] = pd.to_datetime(combined['order_purchase_timestamp'])

# Calculate Recency, Frequency, Monetary for each customer
current_date = combined['order_purchase_timestamp'].max()  # Use the latest purchase date
rfm_data = combined.groupby('customer_id').agg({
    'order_purchase_timestamp': lambda x: (current_date - x.max()).days,  # Recency
    'order_id': 'nunique',  # Frequency (number of unique orders)
    'price': 'sum'  # Monetary (total spending)
}).reset_index()

rfm_data.columns = ['customer_id', 'Recency', 'Frequency', 'Monetary']

# Check for unique values in each RFM metric and handle bins accordingly
def safe_qcut(series, q, labels):
    if len(series.unique()) < q:  # Not enough unique values to create q quantiles
        return pd.cut(series, bins=len(series.unique()), labels=labels[:len(series.unique())], duplicates="drop")
    else:
        return pd.qcut(series, q=q, labels=labels)

# Apply Recency, Frequency, and Monetary scores
recency_score = safe_qcut(rfm_data['Recency'], q=4, labels=[4, 3, 2, 1])  # Lower recency = better score
frequency_score = safe_qcut(rfm_data['Frequency'], q=4, labels=[1, 2, 3, 4])  # Higher frequency = better score
monetary_score = safe_qcut(rfm_data['Monetary'], q=4, labels=[1, 2, 3, 4])  # Higher monetary = better score

# Add RFM scores to the DataFrame
rfm_data['recency_score'] = recency_score
rfm_data['frequency_score'] = frequency_score
rfm_data['monetary_score'] = monetary_score

# Combine RFM scores
rfm_data['rfm_score'] = recency_score.astype(str) + frequency_score.astype(str) + monetary_score.astype(str)

# Define segmentation logic
def assign_segment(row):
    if row['recency_score'] == '4' and row['frequency_score'] == '4' and row['monetary_score'] == '4':
        return "Champions"
    elif int(row['frequency_score']) >= 3 and int(row['monetary_score']) >= 3:
        return "Loyal"
    elif int(row['recency_score']) <= 2 and int(row['frequency_score']) >= 3:
        return "At Risk"
    elif int(row['recency_score']) <= 2 and int(row['frequency_score']) <= 2:
        return "Lost"
    else:
        return "Others"

# Apply segmentation logic
rfm_data['segment'] = rfm_data.apply(assign_segment, axis=1)
rfm_data.head()

,customer_id,Recency,Frequency,Monetary,recency_score,frequency_score,monetary_score,rfm_score,segment
0,00012a2ce6f8dcda20d059ce98491703,292,1,89.80,2,1,3,213,Lost
1,000161a058600d5901f007fab4c27140,413,1,54.90,1,1,2,112,Lost
2,0001fd6190edaaf884bcaf3d49edf079,551,1,179.99,1,1,4,114,Lost
3,0002414f95344307404f0ace7a26f1d5,382,1,149.90,1,1,3,113,Lost
4,000379cdec625522490c315e70c7a9fb,153,1,93.00,3,1,3,313,Others

In [29]:
rfm_data.to_csv("rfm_metrics.csv", index=False)